{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Book a Ride</title>
    
    <link rel="stylesheet" href="{% static 'booking/css/booking.css' %}">

</head>
<body data-ors-api-key="{{ settings.OPENROUTESERVICE_API_KEY }}">
    <h1>Book Your Ride</h1>
    <form method="post">
        {% csrf_token %}
        
        <p>
            <label class="label" for="pickup_location_input">Pickup address:</label>
            <div class="autocomplete-container" id="pickup-container">
                {{ form.pickup_address }}
                <div id="pickup-results" class="autocomplete-results"></div>
            </div>
        </p>

        <p>
            <label class="label" for="destination_location_input">Destination address:</label>
            <div class="autocomplete-container" id="destination-container">
                {{ form.destination_address }}
                <div id="destination-results" class="autocomplete-results"></div>
            </div>
        </p>

        <button type="submit">Find Trike</button>
    </form>

    <script src="{% static 'booking/js/autocomplete.js' %}"></script>
</body>
</html>